{% extends 'partials/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-sm"><h1>Excel</h1></div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">{{ headers.0 }}</th>
      <th scope="col">{{ headers.1 }}</th>
      <th scope="col">{{ headers.2 }}</th>
    </tr>
  </thead>
  <tbody>
      {% for r in data|slice:1 %}
    <tr>
      <th scope="row">{{ r }}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{{ data }}
{% for afd in afdelinger %}
<h2>{{ afd }}</h2>
{% endfor %}
    
</div>


{% endblock %}